# Data Structure Methods & Comprehensions Exercise 3A (Compulsory)

1. Create a list with only odd numbers from 1 to 23.


```
e.g. [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]
```

In [ ]:
## correct

In [38]:
odd = [ ]

for i in range(24):
    if i %2 != 0:
        odd.append(i)
        
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

2. Calculate the sum of the digits from the string:
```'2347805673456'```

In [ ]:
## correct

In [6]:
s ='2347805673456'
sum = 0

for i in s:
    num = int(i)
    sum+= num
    
print(sum)

60

3. Convert the string to a list and uppercase each word.
```
s = "hello world and practice makes permanent and hello world again"
```
```
output:
['HELLO',
 'WORLD',
 'AND',
 'PRACTICE',
 'MAKES',
 'PERMANENT',
 'AND',
 'HELLO',
 'WORLD',
 'AGAIN']
```

In [ ]:
## correct

In [8]:
s = "hello world and practice makes permanent and hello world again"
lst = list( s.upper().split() )

print(lst)

['HELLO', 'WORLD', 'AND', 'PRACTICE', 'MAKES', 'PERMANENT', 'AND', 'HELLO', 'WORLD', 'AGAIN']

4. Get all the keys from the dictionary:
```
cars = {'cars':['bmw, tesla'], 'food':['mexican', 'sushi'], 'location': 'hong kong'}
```
```
output:
dict_keys(['cars', 'food', 'location'])
```

In [ ]:
## correct

In [9]:
cars = {'cars':['bmw, tesla'], 'food':['mexican', 'sushi'], 'location': 'hong kong'}
cars.keys()

dict_keys(['cars', 'food', 'location'])

5. Combine the two lists together in the same sequence.

```
l1 = ['basketball', 'gym', 'football', 'cycling']
l2 = ['apples', 'bread', 'oats', 'salmon']
```


```
output:
['basketball',
 'apples',
 'gym',
 'bread',
 'football',
 'oats',
 'cycling',
 'salmon']
```

In [ ]:
## correct

In [10]:
l1 = ['basketball', 'gym', 'football', 'cycling']
l2 = ['apples', 'bread', 'oats', 'salmon']
l3= [ ]

for i in range(len(l1)):
    l3.append(l1[i])
    l3.append(l2[i])
    
print(l3)

['basketball', 'apples', 'gym', 'bread', 'football', 'oats', 'cycling', 'salmon']

In [41]:
## Method by using zip( )
l1 = ['basketball', 'gym', 'football', 'cycling']
l2 = ['apples', 'bread', 'oats', 'salmon']
list1= []
for i,j in zip(l1, l2):
    list1.append(i)
    list1.append(j)
    
print(list1)

['basketball', 'apples', 'gym', 'bread', 'football', 'oats', 'cycling', 'salmon']

6. Take a string and calculate the number of letters and digits within it. Return the result in a dictionary.



```
e.g. 
txt = "H3ll0 Wor1d"

output:
{'LETTERS': 7, 'DIGITS': 3}
```

In [ ]:
##correct

In [13]:
txt = "H3ll0 Wor1d"
d= { }
letter = 0
digit = 0

for i in txt:
    if (i.isalpha()):
        letter+=1
    elif (i.isdigit()) :
        digit +=1
        
d['LETTERS'] = letter
d['DIGITS'] = digit
print(d)

{'LETTERS': 7, 'DIGITS': 3}

7. Given a dictionary containing the names and ages of a group of people, return the name of the oldest person.



```
input:
people = {"Emma": 71, "Jack": 45, "Amy": 15, "Ben": 29}

output:
'Emma'
```

In [2]:
people = {"Emma": 71, "Jack": 45, "Amy": 15, "Ben": 29}
oldest = max(people, key=people.get)
print(oldest)

Emma

8. Given two strings, return the total number of unique characters from the combined string.



```
e.g.
s1 = "apple"
s2 = "play"

ouput:5
```

In [8]:
s1 = "apple"
s2 = "play"

len(set(s1+s2))

5

9. You work for a manufacturer, and have been asked to calculate the total profit made on the sales of a product. You are given a dictionary containing the cost price per unit (in dollars), sell price per unit (in dollars), and the starting inventory. Return the total profit made, rounded to the nearest dollar. Assume all of the inventory has been sold.
```
{
  "cost_price": 32.67,
  "sell_price": 45.00,
  "inventory": 1200
}
```

In [ ]:
## correct

In [42]:
manuf = {"cost_price": 32.67,"sell_price": 45.00,"inventory": 1200}

profit = manuf.get("sell_price") - manuf.get("cost_price") 

total_profit = round(manuf.get("inventory")*profit)

print(total_profit)

14796

10. Find the smallest number of letter removals so that two strings are anagrams of each other.

An anagram of a string is another string that contains same characters, only the order of characters can be different. For example, “abcd” and “dabc” are anagram of each other.

In [ ]:
##correct

In [33]:
str1 = 'listendefg'
str2 = 'silent'
dict1= { }
dict2 = { }


for i in str1:
    if i not in dict1:
        dict1[i]=1
    else:
        dict1[i]+=1
            
for i in str2:
    if i not in dict2:
        dict2[i]=1
    else:
        dict2[i]+=1
            
print(dict1)
print(dict2)

{'l': 1, 'i': 1, 's': 1, 't': 1, 'e': 2, 'n': 1, 'd': 1, 'f': 1, 'g': 1}
{'s': 1, 'i': 1, 'l': 1, 'e': 1, 'n': 1, 't': 1}

In [34]:
dict1_sort=dict(sorted(dict1.items()))
dict2_sort=dict(sorted(dict2.items()))

print(dict1_sort)
print(dict2_sort)

{'d': 1, 'e': 2, 'f': 1, 'g': 1, 'i': 1, 'l': 1, 'n': 1, 's': 1, 't': 1}
{'e': 1, 'i': 1, 'l': 1, 'n': 1, 's': 1, 't': 1}

In [35]:
dict1_sort_key=sorted(dict1.keys())
dict2_sort_key=sorted(dict2.keys())

print(dict1_sort_key)
print(dict2_sort_key)

['d', 'e', 'f', 'g', 'i', 'l', 'n', 's', 't']
['e', 'i', 'l', 'n', 's', 't']

In [37]:
count = 0

if dict1_sort == dict2_sort:
    print("String 1and String 2 are anagram of each other")
    
elif len(dict1_sort_key) >len(dict2_sort_key):
    for i in dict1_sort_key:
        if i in dict2_sort:
            count += abs(dict1_sort[i]-dict2_sort[i])
        else:
            count += dict1_sort[i]
            
elif len(dict2_sort_key) >len(dict1_sort_key):
    for i in dict2_sort_key:
        if i in dict1_sort:
            count += abs(dict2_sort[i]-dict1_sort[i])
        else:
            count += dict2_sort[i]
            
print(f"The difference between String1 and String 2 is {count}.")

The difference between String1 and String 2 is 4.

In [45]:
## ANS from others

s1 = "happy"
s2 = "birthday"
char = "abcedfghijklmnopqrstuvwxyz"
total = 0

for x in char:
    count = abs(s1.count(x) - s2.count(x))
    total = total + count
print("Smallest number of letter removals: " + str(total))

Smallest number of letter removals: 7