# Python Data Types & Containers Exercise 2A (Compulsory)

1. Is the following list assignment correct? If not, explain why it isn't. If it is, print out _this_list_.
```
one = 'one'
two = 2
three = 3
four = 'four'
list_1 = ["a", 7]
this_list = [one, 'two', 3, four, list_1]
```

In [ ]:
## correct

In [1]:
# The list assignment is correct
one = 'one'
two = 2
three = 3
four = 'four'
list_1 = ["a", 7]
this_list = [one, 'two', 3, four, list_1]
print(this_list)

['one', 'two', 3, 'four', ['a', 7]]

2. What is the set of the tuple ```(1,2,3,33,3,3,4,5)```?

Expected output: `{1, 2, 3, 4, 5, 33}`

In [ ]:
## correct

In [8]:
s= {1,2,3,33,3,3,4,5}
print(s)

{1, 2, 3, 4, 33, 5}

In [19]:
##ANS
t =(1,2,3,33,3,3,4,5)
set(t)

{1, 2, 3, 4, 5, 33}

3. For the dictionary ```food_counts = {'eggs':6 , 'bacon':1 , 'sausages':4}```, add a new key in the dictionary called _milk_ with value 1.

Expected output: `{'eggs': 6, 'bacon': 1, 'sausages': 4, 'milk': 1}`

In [ ]:
## correct

In [9]:
food_counts = {'eggs':6 , 'bacon':1 , 'sausages':4}
food_counts['milk'] = 1
print(food_counts)

{'eggs': 6, 'bacon': 1, 'sausages': 4, 'milk': 1}

4. For the string ```supercalifragilisticexpialidocious```, print out the string ```fragilistic``` using slicing.

In [ ]:
## correct

In [10]:
s = 'supercalifragilisticexpialidocious'
s[9:20]

'fragilistic'

5. Given the dictionary ```{1: ['this', 'is', ['a', 'list']], '2': {'a': 'nother', 'd':'ictionary', '3': [1,2,3,4,5]}, 'three': ['list',{2:'woah', 3: 'good job!'}]}```

Return the string _'good job'_ through indexing.

In [ ]:
## correct

In [12]:
d = {1: ['this', 'is', ['a', 'list']], '2': {'a': 'nother', 'd':'ictionary', '3': [1,2,3,4,5]}, 'three': ['list',{2:'woah', 3: 'good job!'}]}
d['three'][1][3]

'good job!'

In [21]:
##ANS 
## without the ' ! '

d = {1: ['this', 'is', ['a', 'list']], '2': {'a': 'nother', 'd':'ictionary', '3': [1,2,3,4,5]}, 'three': ['list',{2:'woah', 3: 'good job!'}]}
d['three'][1][3][:-1]

'good job'

6. Return the total number of lists inside a given list.

```
eg.
for [[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]] there are 4 sub-lists inside the list
```

In [40]:
## My Practice for sum of the list
l =  [[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]] 
index = 0
total = 0

for i in l:
    for j in l[index]:
        total += j 
print(total)

24

In [ ]:
##correct

In [15]:
l =  [[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]] 
nums = 0

for i in range(len(l)):
    if  isinstance(l[i], list):
        nums += 1
print(nums)

4

In [22]:
##ANS
lst = [[1, 2, [3,'[9]']], [1, 2, 3], [1, 2, 3], [1, 2, 3], 1, 3]
print(len(lst))
count = 0
for i in lst:
  print(type(i))
  if isinstance(i,list):      # isinstance(variable, variable type) --> TRUE / FALSE
    count +=1
print(count)

6
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'int'>
<class 'int'>
4

7. Return the indices of all occurrences of an item in the list.

```
eg.
For the list [1, 5, 2, 7, 5], if we are trying to find all of the occurrences of 5, their indices are 1 and 4
```

In [ ]:
## correct

In [42]:
list1 = [1, 5, 2, 7, 5]
index= -1

for i in list1:
    index+=1
    if i == 5:
        print(index)

1
4

In [ ]:
##ANS
lst = [1, 5, 2, 7, 5]
el = 5
mylist = [ ]

for i in range(len(lst)):
    if lst[i] == el:
        mylist.append(i)
        
print(mylist)

#ANS - Method2
[ i for i in range(len(lst)) id lst[i]== el]

8. Take a dictionary and return the keys and values as separate lists.

e.g. if `dict={"a": "Apple", "b": "Microsoft", "c": "Google"}`

then output should be `[['a', 'b', 'c'], ['Apple', 'Microsoft', 'Google']]`

In [ ]:
## correct

In [5]:
dict={"a": "Apple", "b": "Microsoft", "c": "Google"}
key_list = [ ]
value_list = [ ]

for i in dict:
    key_list.append(i)
    
for j in dict.values( ):
    value_list.append(j)

print(f'{key_list}, {value_list}')

['a', 'b', 'c'], ['Apple', 'Microsoft', 'Google']

In [6]:
dict={"a": "Apple", "b": "Microsoft", "c": "Google"}
key_list=list(dict.keys( ))
value_list = list(dict.values( ))

print(key_list, value_list)

['a', 'b', 'c'] ['Apple', 'Microsoft', 'Google']

In [5]:
##ANS
d ={"a": "Apple", "b": "Microsoft", "c": "Google"}
list(zip(*sorted(d.items( ))))     ## " * " means unpacking

[('a', 'b', 'c'), ('Apple', 'Microsoft', 'Google')]

In [6]:
d.items( )

dict_items([('a', 'Apple'), ('b', 'Microsoft'), ('c', 'Google')])

In [7]:
sorted(d.items( ))

[('a', 'Apple'), ('b', 'Microsoft'), ('c', 'Google')]

In [8]:
list(zip(*sorted(d.items( ))))

[('a', 'b', 'c'), ('Apple', 'Microsoft', 'Google')]

In [11]:
### func :  zip( _ , _ )  -->can be more than 2
l  = [1,2,3]
m = [4,5,6]
c = ['a','b','c']
list(zip(l,m,c))

[(1, 4, 'a'), (2, 5, 'b'), (3, 6, 'c')]

9. Take an integer and output an n x n square solely consisting of the integer n.

```
eg.
For n = 3,
the output should be

3, 3, 3
3, 3, 3
3, 3, 3
```

In [ ]:
## correct

In [36]:
n = 3

for i in range(n):
    for j in range(n):
        print(n, end=",")
    print( )

3,3,3,
3,3,3,
3,3,3,

In [ ]:
##ANS Method 2
def n_square(n):
    output = ""
    for row in range(n):
        for col in range(n):
            output+=str(n)
            if col < n-1:
                output+=', '
        output+='\n'
    return output
print(n_square(3))

In [ ]:
##ANS Method 3
def function(num):
    for i in range(num):
        for j in range(num):
            if (j < num -1):
                print(num, end=", ")
            if (j == num-1):
                print(num, end="\n")

function(20)

10. Given a phrase, return False if any individual word in the phrase contains duplicate letters. Return True otherwise.

In [13]:
word = 'Apple'
word_len = len(word)
word_set =len(set(word))
word_len == word_set

False

In [14]:
word = 'you'
word_len = len(word)
word_set =len(set(word))
word_len == word_set

True